.imageBox{
  border: 5px solid #CCC;
  width: 390px;
  height: 340px;
  float:left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

#imagehouse{
  margin: 0 auto;
  width: 1300px;
  height: 1230px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
}

span{
  font-size: 15px;
  margin: 20px;
  font-weight: 900;
}

img{
  height: 200px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

p{
  display: block;
  margin: 20px;
}

#clear{
  position:fixed;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

#himg{
  position: absolute;
  height: 400px;
  width: 600px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
}
