#imagehouse{
  margin: 0 auto;
  width: 1300px;
  height: 1230px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
}

.imageBox{
  border: 5px solid #CCC;
  width: 390px;
  height: 340px;
  float:left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

span{
  font-size: 15px;
  margin: 20px;
  font-weight: 900;
}

.smimg{
  height: 200px;
  width: 300px;
  display: block;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 35px;
}

p{
  display: block;
  margin: 20px;
}

#clear{
  position:fixed;
  display: none;
  height: 0px;
  width: 0px;
  background-color: rgba(128, 128, 128, 0.5);
}

#zoomBox{
  position:fixed;
  height: 530px;
  width: 600px;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.8);
}

#hname{
  font-size: 15px;
  font-weight: 900;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#himg{
  height: 400px;
  width: 600px;
}

#htext{
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
}
